@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #e5e7eb;
}            
.transDown{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;    
}